{

  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": 1,
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    'plugin:react/recommended'
  ],
   "globals" : {
    "window": true,
    "React": true,
    "Generator": true,
  },
  "plugins": [
    "prettier"
  ]
}
