body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#main-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
}

.input {
  display: inline-block;
  position: relative;
  z-index: 1;
}

#app {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
