@import 'font';

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

input,
button {
  font-size: 1em;
}

#main-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
}

.controls {
  position: absolute;
  right: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;

  &__group {
    display: flex;
    justify-content: stretch;
    .input {
      flex-grow: 1;
    }
  }
}

.input {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top: 6px;
  display: flex;
  align-items: center;

  span {
    order: 2;
    margin-left: 20px;
  }

  input {
    order: 1;
    width: 60px;
  }

  &--button {
    &.active {
      button {
        background: #def1e3;
      }
    }
  }
}

#app {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
