@import 'font';

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

ul, li {
  padding: 0px;
  margin: 0px;
}

input,
button {
  font-size: 1em;
}

#main-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  background-color: black;
}

.controls {
  position: absolute;
  right: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  width: 300px;

  &__group {
    display: flex;
    justify-content: stretch;
    .input {
      flex-grow: 1;
    }
  }
}

.input {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top: 6px;
  display: flex;
  align-items: center;

  span {
    order: 2;
    margin-left: 20px;
  }

  input {
    order: 1;
    width: 60px;
  }

  &--button {
    &.active {
      button {
        background: #def1e3;
      }
    }
  }
}

.presets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  &__item {
    list-style: none;
    height: 100px;
    background: #fff;
    margin: 0px 0px 10px;

    h3 {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.6);
      padding: 10px;
      margin: 0px;
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
      cursor: pointer;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
    }

    &.active {
      background-color: #88ec13;
    }

    canvas {
      height: 100%;
    }
  }
}

#app {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
