// presets
.presets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  &__item {
    list-style: none;
    height: 100px;
    background: #fff;
    margin: 0px 0px 10px;

    h3 {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.6);
      padding: 10px;
      margin: 0px;
      font-size: 17px;
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
      cursor: pointer;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
    }

    &.active {
      background-color: #88ec13;
    }

    canvas {
      height: 100%;
    }
  }
}
